<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hibernate-login</display-name>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.login.service.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCustomer</display-name>
    <servlet-name>FindCustomer</servlet-name>
    <servlet-class>com.login.service.FindCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCustomer</servlet-name>
    <url-pattern>/FindCustomer</url-pattern>
  </servlet-mapping>
</web-app>