<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>logindemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainFrame</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.logindemo.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.logindemo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginClServlet</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.logindemo.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyImportServlet</display-name>
    <servlet-name>MyImportServlet</servlet-name>
    <servlet-class>com.daolian.MyImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyImportServlet</servlet-name>
    <url-pattern>/MyImportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.daolian.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet</display-name>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>com.request.GetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerUsers</display-name>
    <servlet-name>ManagerUsers</servlet-name>
    <servlet-class>com.logindemo.ManagerUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUsers</servlet-name>
    <url-pattern>/ManagerUsers</url-pattern>
  </servlet-mapping>
</web-app>